local.properties
.DS_Store
**/build/
build/
.idea/
*.iml
.gradle
*.orig
daifan51Project/libraries/actionbarsherlock/gen/com/actionbarsherlock/R.java
daifan51Project/libraries/actionbarsherlock/gen/com/actionbarsherlock/Manifest.java
daifan51Project/out/
